<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.alcheringa.alcher17" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.parse.starter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.alcheringa.alcher16.permission.C2D_MESSAGE" />

    <application
        android:name="in.alcheringa.alcher17.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.alcheringa.alcher17.MainActivity"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Splash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="in.alcheringa.alcher17.Concerts"
            android:label="@string/title_activity_concerts"
            android:largeHeap="true"
            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Competitions"
            android:label="@string/title_activity_competitions"
            android:largeHeap="true"
            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Module"
            android:label="@string/title_activity_module" >
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Event"
            android:label="@string/title_activity_event" >
        </activity>




        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="in.alcheringa.alcher16" />
            </intent-filter>
        </receiver>

        <activity
            android:name="in.alcheringa.alcher17.ProNight"
            android:label="@string/title_activity_pro_night"
            android:largeHeap="true"
            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Map"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Informals"
            android:label="@string/title_activity_informals"
            android:largeHeap="true"

            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Specials"
            android:label="@string/title_activity_specials"
            android:largeHeap="true"
            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Proshows"
            android:label="@string/title_activity_proshows"
            android:largeHeap="true"
            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Schedule"
            android:label="@string/title_activity_schedule" >
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.Sponsors"
            android:label="@string/title_activity_sponsors"
            android:largeHeap="true"
            android:supportsRtl="true">
        </activity>
        <activity
            android:name="in.alcheringa.alcher17.ContactUs"
            android:label="@string/title_activity_contact_us" >
        </activity>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/launcher_icon" />

        <!--<activity-->
            <!--android:name=".ScavengerHunt"-->
            <!--android:label="@string/title_activity_scavenger_hunt" >-->
        <!--</activity>-->
        <activity
            android:name="in.alcheringa.alcher17.Initiatives"
            android:label="@string/title_activity_initiatives" >
        </activity>
    </application>

</manifest>
